# Copyright (c) 2026 AIperture-Labs <xavier.beheydt@gmail.com>
# Doc: https://clang.llvm.org/extra/clang-tidy/

---
Checks: >
  modernize-*,
  cppcoreguidelines-*
WarningsAsErrors: false
HeaderFilterRegex: "^(./sources/**/*.hpp)"
FormatStyle: Google
AnalyzeTemporaryDtors: false
CheckOptions:
  - key: modernize-use-trailing-return-type
    value: "0"
